<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>351516976200-ok1j8gr52qdo81om6jo73sk6r263b674.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.351516976200-ok1j8gr52qdo81om6jo73sk6r263b674</string>
	<key>API_KEY</key>
	<string>AIzaSyDKhGeFHJV7nIVzIpXAnc6HhUe65Hzoa4I</string>
	<key>GCM_SENDER_ID</key>
	<string>351516976200</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseNotifications</string>
	<key>PROJECT_ID</key>
	<string>fir-notification-c95bd</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-notification-c95bd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:351516976200:ios:7a108865a784231c21e47d</string>
</dict>
</plist>